<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animação Effects Css</title>
  <link rel="icon" href="img/favicon.png" type="image/png"/>
  <link rel="stylesheet" href="style.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='terra.css')}}"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<!--<br></br>
<div class="container">

    <div class="loader"><span></span></div>
    <div class="earth"></div>

  </div>-->
  
<div class="planet planetEarth">

<div class="container">

    <div class="loader"><span></span></div>
    <div class="earth"></div>

  </div>


  <h2>☝️</h2>
  <h2>Voce esta aqui</h2>
<br></br>
<br></br>
<br></br>
  <h2></h2>
  <spam></spam>
  <a></a>

<iframe width="80%" height="300" src="https://www.youtube.com/embed/dEINMIjAmMg?si=Th4u9twWGisLfIA3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br></br>
<p><b>Em um mundo não muito distante, a poluição atingiu níveis alarmantes, lançando toneladas de poluentes no ar e nos oceanos. A atmosfera tornou-se um cobertor espesso, aprisionando gases que aqueciam o planeta de forma descontrolada.<br></br> O aumento das temperaturas desencadeou eventos climáticos extremos: furacões violentos, secas prolongadas e inundações devastadoras.

A saúde humana também foi duramente afetada. A qualidade do ar deteriorou-se, causando problemas respiratórios generalizados.<br></br> Doenças relacionadas à água contaminada proliferaram, afetando comunidades inteiras. A perda de biodiversidade comprometeu a segurança alimentar, enquanto pragas antes controladas encontraram condições ideais para se proliferar.<br></br>
A poluição desenfreada, com suas emissões de gases de efeito estufa e resíduos tóxicos, intensifica as mudanças climáticas, aumentando eventos extremos. Enfrentar esse desafio exige a intervenção da inteligência artificial, que pode otimizar processos industriais, identificar padrões ambientais e sugerir soluções sustentáveis, promovendo a transição para práticas mais ecoeficientes e reduzindo os impactos prejudiciais sobre o clima.</b></p>
<!--  <div class="container">
    <div class="loader"><span></span></div>
    <div class="earth"></div>
    
  </div>-->
 <!-- <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
  <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>

  <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>

  <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
</div>
</div>-->

<!--<button type="button" class="btn btn-info">Info</button>-->


<button type="button" class="btn btn-warning"><a href="/saiba_mais">Saiba mais</a></button>

<br></br>

<div id="footer">
<p>andrecorreiadev &copy</p>
</div>
</body>
</html>
