
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href=" {{ url_for('static',filename='saiba_mais.css')}}"/>
  <title>voce_esta_aqui</title>
  <!--
    YOUTUBE: https://www.youtube.com/c/Sujeitoprogramador/
    BLOG: https://sujeitoprogramador.com
    INSTAGRAM: https://instagram.com/sujeitoprogramador
  -->
</head>
<body>
  
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <h3>"De acordo com cientistas em menos de 100 anos corremos o risco de quase metade do planeta virar deserto!"</h3>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Efeitos colaterais.</h2>
          <p>
            Os cientistas concordam, com base em extensas evidências científicas, que as atividades humanas, principalmente a queima de combustíveis fósseis e o desmatamento, estão contribuindo significativamente para o aumento das concentrações de gases de efeito estufa na atmosfera. Esses gases, como dióxido de carbono (CO2), metano (CH4) e óxidos de nitrogênio (NOx), retêm o calor na atmosfera e contribuem para o aquecimento global.
          </p>
          <p>
            As projeções climáticas para os próximos 100 anos indicam que, se as emissões de gases de efeito estufa continuarem a aumentar nos níveis atuais, é provável que ocorra um aquecimento adicional da Terra. No entanto, a extensão desse aquecimento depende de vários fatores, incluindo as ações tomadas para reduzir as emissões.      </p>          
        </div>
      </section>

      <section class="module parallax parallax-2">
        <h1> Nas próximas décadas :</h1>
      </section>

      <section class="module content">
        <div class="container">
          <h2>O que pode acontecer?</h2>
          <p>
            Aumento das temperaturas globais:<br></br> Espera-se que as temperaturas médias globais continuem a subir.<br></br>

Mudanças nos padrões de precipitação:<br></br> As mudanças climáticas podem levar a alterações nos padrões de chuva e neve, afetando a disponibilidade de água em diferentes regiões.<br></br>

Aumento do nível do mar:<br></br> O derretimento das calotas polares e das geleiras contribui para o aumento do nível do mar, o que pode representar uma ameaça para áreas costeiras.</p>
          <p>
            Eventos climáticos extremos:<br></br> A frequência e intensidade de eventos climáticos extremos, como tempestades, secas e ondas de calor, podem aumentar.<br></br>

Impactos na biodiversidade:<br></br> Mudanças climáticas podem afetar habitats naturais e padrões de migração, impactando a biodiversidade.<br></br>

Acidificação dos oceanos:<br></br> O CO2 absorvido pelos oceanos leva à acidificação, prejudicando ecossistemas marinhos, especialmente recifes de coral.</p>          
        </div>
      </section>

      <section class="module parallax parallax-3">
        <h1>Ainda da tempo?</h1>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Projeções climáticas.</h2>
          <p>
            É crucial notar que as projeções climáticas são baseadas em modelos complexos e há incertezas associadas a essas previsões.<br></br> A mitigação das mudanças climáticas por meio da redução das emissões de gases de efeito estufa e da transição para fontes de energia mais limpas é amplamente reconhecida como uma abordagem essencial para enfrentar esses desafios e limitar os impactos futuros. A ação global é fundamental para lidar com as mudanças climáticas e suas consequências potenciais.</p>
          <p>
            ...
          </p>          
          

         <div class="card" style="width: 100%;">
  <img src="/static/img/pix.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Contribua com nosso canal!</h5>
    <p class="card-text">Se voce gosta ou acha nosso conteudo relevante considere contribuir para ajudar a melhorar a qualidade do nosso trabalho.<br></br>Nossa chave pix:meugato556@gmail.com</p>
    <a href="/" class="btn btn-primary stretched-link">voltar</a>
  </div>
</div>          
<!--<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">voltar</button>
  <button class="btn btn-primary" type="button">Contribuir com pix</button>
</div>
<a class="btn btn-primary" href="#" role="button">Link</a>-->
        </div>
<footer>andrecorreiadev &copy</footer>
      </section>

    </main>
  </div>

</body>
</html>
